@import "./src/assets/styles/base.scss";

div {
    position: relative;

    img {
        @include size(225px);
        margin-top: 15px;
    }

    mat-icon {
        position: absolute;
        z-index: 1;
        &:first-of-type {
            top: 15px;
            right: -30px;
        }
        &:last-of-type {
            top: 45px;
            right: -30px;
        }
    }
}

