@import "./src/assets/styles/base.scss";

div {
    position: relative;

    .id-in-column {
        position: absolute;
        top: 15px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        box-sizing: border-box;
        left: 0;
        text-align: center;
        @include size(30px, 30px);
        background: $white;
        padding: 5px;
    }

    img {
        @include size(225px);
        margin-top: 15px;
    }

    mat-icon {
        position: absolute;
        z-index: 1;

        &:first-of-type {
            top: 15px;
            right: -30px;
        }

        &:last-of-type {
            top: 45px;
            right: -30px;
        }
    }
}

