@import "./src/assets/styles/base.scss";

.column {
    @include flex(flex, flex-start, center, column);
    @include size(300px, 100%);
    min-height: 200px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 15px;

    mat-form-field {
        position: relative;
        width: 90%;

        button {
            position: absolute;
            top: -30px;
            right: -5px;
        }
    }

    .thumnail-container {
        @include flex(flex, flex-start, center, column);
    }

    img {
        @include size(200px, 200px);
        margin-top: 15px;
    }
}

button {
    margin-top: 15px;
    margin-left: 100px;
}
