@import "./src/assets/styles/base.scss";

.dashboard-container {
    @include flex(flex, flex-start, flex-start, row);
    @include size(100%, 100%);
    padding: 15px;
    box-sizing: border-box;
}

input[type="file"] {
    position: absolute;
    bottom: 15px;
    left: 140px;
}

button {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
