@import "./src/assets/styles/base.scss";

.drag-drop-column {
    @include flex(flex, center, center, column);
    width: 175px;
    margin-top: 15px;
    margin-left: 25px;

    mat-form-field {
        width: 100%;
    }



    .no-elements {
        @include flex(flex, center, center, column);
        @include size(150px, 150px);
        border: 1px dashed black;
    }
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.box:last-child {
    border: none;
}

.box-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
