@import "./src/assets/styles/base.scss";

.column-container {
    @include flex(flex, flex-start, center, column, relative);
    @include size(280px, 100%);
    min-height: 100vh;
    box-sizing: border-box;
    border: 1px dotted black;
    border-radius: 4px;
}
