@import "./src/assets/styles/base.scss";

.dashboard-container {
    @include flex(flex, flex-start, flex-start, row);
    @include size(100%, 100%);

    .dashboard-column {
        @include flex(flex, flex-start, flex-start, row);
        @include size(100%, 100%);
    }
}

button {
    position: absolute;
    right: 15px;
    top: 15px;
}
